<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Извлечение текста из изображения</title>
</head>
<body>
<h1>Извлечение текста из изображения</h1>
<form action="/a" method="post" enctype="multipart/form-data" target="_blank">

    <input type="file" name="image" accept="image/*">
    <input type="submit" value="Извлечь текст">

</form><br><br>

<!--это чтобы открыть новую вкладку поэтому адресу ('/')-->
<!--<button onclick="window.open('/', '_blank')">Go to new tab <br> Same Page</button>-->
</body>
</html>
